aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(rgb(92, 10, 10), rgb(16, 71, 16), blue);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
main img {
    width: 150px;
    height: auto;
}
p { padding: 0;}

footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}